:root{
    /* --aside-bg: #7CCC64; */
    --aside-bg: #17b890;
    /* --body-bg: #D7F0D0; */
    /* --body-bg: #F5F5F5; */
    /* --main-bg: #FEFEFA; */
    /* --main-bg: #F7F9E9; */
    --sec-color: #F0D462;
    /* --body-bg: #ced4da; */
    --body-bg: #bed5d0;
    --main-bg: #fff;
    --light-black: #464646;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.text-danger{
    font-size: 0.9rem;
    text-decoration: none;
    color: #f00;
}

ul{
    list-style: none;
}
li{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #cecece;
    border-radius: 20px;

}
::-webkit-scrollbar-thumb{
    background-color: var(--aside-bg);
    border-radius: 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
.col-md-4{
    flex: 0 0 auto;
    width: 32%;
}
.col-md-6{
    flex: 0 0 auto;
    width: 50%;
}
.col-md-8{
    flex: 0 0 auto;
    width: 66%;
}
.mb-2{
    margin-bottom: 10px;
}
.form-control{
    display: block;
    width: 100%;
    padding: .359rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    outline-color: var(--aside-bg);
    background-color: #edeff1;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    margin-top: 5px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

tr td .pimage{
    width: 50px;
    height: 50px;
}
/* header css starts */

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: var(--body-bg);
    display: flex;
}
header .logoSection {
    width: 20%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--aside-bg);
    display: flex;
    gap: 10px;
    align-items: center;
}
header .logoSection img {
    object-fit: contain;
}
header .logoSection .menuToggle {
    display: inline-flex;
    width: 30px;
    height: 30px;
    position: relative;
    float: right;
    z-index: 1;
}
header .logoSection .menuToggle span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    transition: 0.3s;
}
header .logoSection .menuToggle .line-1 {
    transform: translate(-50%, -10px);
}
header .logoSection .menuToggle .line-3 {
    transform: translate(-50%, 7px);
}
header .searchSetting {
    width: 77%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
header .searchSetting .searchBar {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .searchSetting .searchBar img {
    position: absolute;
    left: 10px;
}
header .searchSetting .searchBar input {
    width: 100%;
    padding: 0.7rem 0.6rem 0.7rem 3rem;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    outline-color: #fff;
    background-color: #fff;
    opacity: 0.9;
}
header .searchSetting .searchBar input:focus {
    opacity: 1;
}
header .searchSetting .setting {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
}
header .searchSetting .setting .headerProfile {
    width: 35px;
    height: 35px;
}
header .searchSetting .setting .headerProfile img {
    padding: 2px;
    background-color: #c6c6c6;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
@media screen and (max-width: 1000px) {
    header {
        background-color: var(--aside-bg);
   }
    header .logoSection {
        width: 39%;
   }
}

.profileBackground {
    position: relative;
    top: 68px;
    right: 20px;
    background-color: var(--body-bg);
    width: 300px;
    float: right;
    z-index: 90000;
    border-radius: 15px;
    padding: 20px;
    color: #000;
    box-shadow: 1px 1px 15px -5px #000;
}
.profileBackground p {
    margin: 0;
}
.profileBackground .userProfile {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-bottom: 2px solid #717171;
    margin-bottom: 2px;
}
.profileBackground .userProfile .profile {
    width: 35px;
    height: 35px;
}
.profileBackground .userProfile .profile img {
    padding: 2px;
    background-color: #adb5bd;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileBackground .userProfile .name {
    font-weight: 600;
    font-size: 1.2rem;
}
.profileBackground .userProfile .userName {
    color: var(--light-black);
}
.profileBackground .userProfile:hover {
    background-color: var(--aside-bg);
    border-radius: 10px;
}
.profileBackground .change {
    padding: 10px;
}
.profileBackground .change p {
    color: #001789;
    cursor: pointer;
}
.profileBackground .change:hover {
    background-color: var(--aside-bg);
    border-radius: 10px;
}
.profileBackground .editDetails {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    color: #000;
}
.profileBackground .editDetails:hover {
    background-color: var(--aside-bg);
    border-radius: 10px;
}
.profileBackground .help {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
.profileBackground .help:hover {
    background-color: var(--aside-bg);
    border-radius: 10px;
}
.profileBackground .logout {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
.profileBackground .logout:hover {
    background-color: var(--aside-bg);
    border-radius: 10px;
}

.session-message {
    position: fixed;
    top: 20px;
    left: 40%;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
    display: none; /* Initially hidden */
    animation: fadeInOut 4s forwards; /* Animates fade-in and fade-out */
}

.session-message.success {
    background-color: #fff; /* Green background for success */
    color: #000;
}

.session-message.error {
    background-color: #fff; /* Red background for error */
    color: #f00;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(10px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(10px); }
}

.insertProfileBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
}
.insertProfileBackground .insertOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.insertProfileBackground .insertContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insertProfileBackground .insertContent .changeProfile {
    background-color: #fff;
    width: 50%;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    z-index: 1;
    position: relative;
}
.insertProfileBackground .insertContent .changeProfile .cross{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.insertProfileBackground .insertContent .changeProfile .cross:hover{
    opacity: 0.7;
}
.insertProfileBackground .insertContent .changeProfile p {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 20px;
}
.insertProfileBackground .insertContent .changeProfile .updateBtn {
    background-color: var(--aside-bg);
    border: none;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    margin-left: 20px;
}
.insertProfileBackground .insertContent .changeProfile .updateBtn:hover {
    opacity: 0.8;
}


/* header css ends */



/* aside css starts */
/* Main aside container */
aside {
    width: 20%;
    position: fixed;
    top: 70px;
    height: 89vh;
    background-color: var(--aside-bg);
    display: flex;
    flex-direction: column;
}

/* Main menu */
aside .menu {
    margin: 1rem 0 0 1rem;
}

aside .menu a {
    text-decoration: none;
    color: #000;
}

aside .menu .nav-item {
    box-sizing: border-box;
    margin-bottom: 5px;
}

/* Main menu nav-link */
aside .menu .nav-item .nav-link {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
    transition: background-color 0.3s ease;
}

/* Main menu text style */
aside .menu .nav-item .nav-link span {
    font-size: 1.2rem;
    /* color: #fff; */
    color: #000;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
}



aside .menu .nav-item .nav-link:hover,
aside .menu .nav-item.active > .nav-link {
    width: 93%;
    padding: 10px;
    border-radius: 5px;
    background-color: #ced4da; 
}

/* aside .menu .nav-item .nav-link:hover span,
aside .menu .nav-item.active > .nav-link span{
    color: #000; 
} */

aside .menu .nav-item .nav-link .arrow{
    margin-left: 6rem;
    transition: transform 0.3s ease; 
}

.nav-item.dropdown .arrow {
    transform: rotate(180deg);
  }





/* Submenu styles */
.nav-item ul {
    display: none;
    padding-left: 4rem;
    min-width: 200px;
}

/* Show submenu when the parent nav-item is active */
.nav-item.active ul {
    display: block;
}

/* Submenu items */
.nav-item ul .sub-item {
    position: relative;
    margin-top: 10px;
}
.nav-item ul .sub-item .sub-nav-link {
    color: #373030;
}
.nav-item ul .sub-item .sub-nav-link:hover {
    color: #000;
}

/* Removing active effect from submenu items */
.nav-item ul .sub-item .sub-nav-link.active {
    color: #000;
}





@media screen and (max-width: 1000px) {
    aside {
        width: 100%;
   }
}

/* aside css ends */
/* main css ends */

main{
    margin-left: 20%;
    width: 80%;
    height: 89vh;
    position: fixed;
    top: 70px;
    background-color: var(--body-bg);
    box-sizing: border-box;
    padding: 10px;
}
main p{
        margin: 0;
        padding: 0;
    }
main .heading{
    margin-bottom: 10px;
}
main .headingName{
    font-size: 1.4rem;
    font-weight: 700;
}

main .container{
        min-width: 100%;
        width: 100%;
        height: 80vh;
        background-color: var(--main-bg);
        border-radius: 10px;
        padding: 0.7rem;
        box-sizing: border-box;
        overflow-x: hidden;
        z-index: 1;
        overflow-y: auto;
}

main form .title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 15px 0;
}
main form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 15px;
    margin-bottom: 10px;
}
main form .row .form-group {
    flex-basis: 32%;
}
main form p {
    font-size: 1.2rem;
}
main form .button-group {
    display: flex;
    /* justify-content: space-between; */
    align-items: end; 
    gap: 10px;
}
main form .button-group .btnColor {
    background-color: #0078d7;
    margin-top: 0.7rem;
    padding: 0.4rem 1.4rem;
    color: #fff;
}
main form .button-group .btnColor:hover {
    opacity: 0.9;
}
main form .button-group .btnSubmit {
    margin-top: 0.7rem;
    font-size: 1.1rem;
    padding: 0.4rem 1.4rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: var(--aside-bg);
}
main form .button-group .btnSubmit:hover {
    opacity: 0.9;
}
/* main css ends */


main .searchInput{
    width: 500px;
    display: block;
    padding: .359rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    outline-color: #7CCC64;
    outline-color: var(--aside-bg);
    background-color: #edeff1;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    margin-top: 5px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

main .recordsMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
main .recordsMenu span {
    font-size: 1.5rem;
    font-weight: 600;
}
main .recordsMenu ul {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
}
main .recordsMenu ul li {
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
main .recordsMenu ul li.active {
    background-color: var(--sec-color);
}
main .records {
    background-color: #fff;
    display: flex;
    gap: 0.9rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-left:var(--aside-bg) 5px solid;
    border-radius: 3px;
    box-shadow: 0px 1px 5px 0px;
}
main .records .date {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--sec-color);
    box-sizing: border-box;
    text-align: center;
}
main .records .date .day {
    padding: 13px;
    padding-top: 4px;
    font-size: 13px;
    font-weight: 800;
}
main .records .cardBody {
    width: 90%;
}
main .records .cardBody .cardTitle {
    width: 100%;
    border-bottom: 1px solid #262525;
}
main .records .cardBody .cardTitle .hospitalName p {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
main .records .cardBody .cardTitle .hospitalAddress p {
    color: #717171;
}
main .records .cardBody .cardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}
main .records .cardBody .cardInfo h4 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--aside-bg);
}
main .records .cardBody .cardInfo .doctorDetail {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}
main .records .cardBody .cardInfo .doctorDetail .doctorImage {
    width: 50px;
    height: 50px;
}
main .records .cardBody .cardInfo .doctorDetail .doctorImage img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: fill;
}
main .records .cardBody .cardInfo .doctorDetail .doctorProfile .doctorName {
    font-size: 1.1rem;
    font-weight: 600;
}
main .records .cardBody .cardInfo .doctorDetail .doctorProfile .doctorEmail {
    color: #717171;
}
main .records .cardBody .cardInfo .doctorCategory {
    margin-top: 0.9rem;
}
main .records .cardBody .cardInfo .doctorCategory .doctorField {
    color: #717171;
}
main .records .cardBody .cardInfo .examination .examinationTitle {
    font-size: 1.1rem;
    font-weight: 600;
}
main .records .cardBody .cardInfo .examination .examinationDetails {
    color: #717171;
}
main .records .cardBody .cardInfo .prescription .prescriptionTitle {
    font-size: 1.1rem;
    font-weight: 600;
}
main .records .cardBody .cardInfo .prescription .prescriptionList .prescriptionItem {
    color: #717171;
}
main .records .cardBody .cardInfo .prescription .prescriptionList .prescriptionItem span {
    color: #000;
    font-size: 18px;
}
main .records .cardBody .cardInfo .prescription .prescriptionList .medicineItem span {
    color: var(--light-black);
    font-size: 0.9rem;
}
main .records .cardBody .cardInfo .expandButton .expand {
    padding: 0.4rem 1.2rem;
    background-color: var(--sec-color);
    border-radius: 0.7rem;
    display: inline-block;
    cursor: pointer;
}
main .records .cardBody .cardInfo .expandButton .expand:hover {
    background-color: var(--aside-bg);
}



/* main add prescription form starts*/

main .container .prescriptionForm p {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
/* main form select  {
    color: #808080;
} */
main form select option:disabled {
    color: light-dark(graytext, #aaa);
}
main .container .prescriptionForm .btnSubmit {
    margin-top: 0.7rem;
    padding: 0.4rem 1.4rem;
    color: #fff;
    display: block;
    background-color: var(--aside-bg);
}
main .container .prescriptionForm .btnSubmit:hover {
    opacity: 0.9;
}
main .container .prescriptionForm .button-group .btn{
    width: 32px;
    height: 32px;

}


/* main add prescription form starts*/


/* change password */
.background{
    /* height: 100vh; */
    /* background: linear-gradient(var(--body-bg), #6f7e39); */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow-y: auto;
}

main .change-password-form {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0 rgba(10, 10, 10, 0.5);
}
main .change-password-form form .form-group {
    margin-bottom: 1rem;
}
main .change-password-form form .form-group label {
    font-size: 1.2rem;
}
main .change-password-form form .form-group .form-control {
    padding: 0.475rem 0.75rem;
}
main .change-password-form form .form-group .form-control:focus {
    box-shadow: 1px 1px 5px #7ccc64;
}
main .change-password-form form .form-group .form-control::placeholder {
    color: #a9acac;
}
main .change-password-form form .btn {
    width: 100%;
    background-color: var(--sec-color);
    color: #000;
    font-size: 1.2rem;
}
main .change-password-form form .btn:hover {
    opacity: 0.8;
}

/* chanage password ends */